WFRFM/data/*
WFRFM/experiments/*
WFRFM/results/*
WFRFM/*.pkl
WFRFM/figures

!WFRFM/data/make_embedding_*.py
!WFRFM/data/pre_*.ipynb
!WFRFM/data/target_*.csv
!WFRFM/data/simulation_gene_data.csv

!WFRFM/data/raw/
WFRFM/data/raw/*
!WFRFM/data/raw/.gitkeep

!WFRFM/data/processed/
WFRFM/data/processed/*
!WFRFM/data/processed/*.pkl

!WFRFM/experiments/ot_plan/
WFRFM/experiments/ot_plan/*
!WFRFM/experiments/ot_plan/.gitkeep

!WFRFM/results/.gitkeep

WFRFM/lightning_logs/*
WFRFM/trash/*
WFRFM/*.ipynb

CellFlow/

**/cache/
**/.ipynb_checkpoints/
**/__pycache__/
.DS_Store
**/jupyter.log
