WFRFM/data/*
WFRFM/experiments/*
WFRFM/results/*
WFRFM/*.pkl
WFRFM/figures

!WFRFM/data/raw/
WFRFM/data/raw/*
!WFRFM/data/raw/.gitkeep
!WFRFM/data/processed/
!WFRFM/data/*.ipynb
WFRFM/data/processed/*
!WFRFM/data/processed/vcc_data_target_genes_embedding.pkl

!WFRFM/experiments/ot_plan/
WFRFM/experiments/ot_plan/*
!WFRFM/experiments/ot_plan/.gitkeep

!WFRFM/results/.gitkeep

WFRFM/lightning_logs/*
WFRFM/trash/*
WFRFM/*.ipynb

**/cache/
**/.ipynb_checkpoints/
**/__pycache__/
.DS_Store
**/jupyter.log
