WFRFM/data/*

WFRFM/results/*
**/.ipynb_checkpoints/
**/__pycache__/
.DS_Store
**/jupyter.log
!WFRFM/data/raw/
WFRFM/data/raw/*
!WFRFM/data/raw/.gitkeep
!WFRFM/results/.gitkeep
!WFRFM/data/processed/
WFRFM/data/processed/*
!WFRFM/data/processed/vcc_data_target_genes_embedding.pkl
!WFRFM/experiments/ot_plan/
WFRFM/experiments/ot_plan/*
!WFRFM/experiments/ot_plan/.gitkeep
!WFRFM/experiments/train_zebrafish_multimarginal.py
WFRFM/lightning_logs/*
WFRFM/trash/*
CellFlow

WFRFM/evaluation/*
AGENTS.md
results/*